@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-custom {
    background-image: url("../public/backgroundImage/backgrund.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}